:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;

    /* Light theme */
    --bg-color: #f8f9fa;
    --text-color: #212529;
    --heading-color: #343a40;
    --border-color: #dee2e6;
    --input-bg: #ffffff;
    --header-bg: #e9ecef;
    --header-text: #495057;
    --button-bg: var(--secondary-color);
    --button-text: #ffffff;
    --correct-bg: rgba(40, 167, 69, 0.2);
    --incorrect-bg: rgba(220, 53, 69, 0.2);
    --explanation-bg: #e2e3e5;
}

.dark-mode {
    --bg-color: #212529;
    --text-color: #f8f9fa;
    --heading-color: #e9ecef;
    --border-color: #495057;
    --input-bg: #343a40;
    --header-bg: #343a40;
    --header-text: #f8f9fa;
    --correct-bg: rgba(40, 167, 69, 0.4);
    --incorrect-bg: rgba(220, 53, 69, 0.4);
    --explanation-bg: #495057;
}